<!DOCTYPE html>
<html lang="en">
  {{> head }}


<body>
	
	 {{> menu }}
	
	<section id="cart_items">
		<div class="container">
			
            <div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="description"></td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td></td>
						</tr>
					</thead>
					<tbody id="checkout">
							
					</tbody>
				</table>
				<table class="table table-condensed total-result" style="left: 44%;position: relative;">
									<tr >
										<td class="total" style="font-size: 25px;">Total</td>
										<td><span id="total_price" style="font-size: 30px;">$ </span></td>
									</tr>
			</table>
							<div class="left " style="margin-bottom: 15px;float:right">
								<a href="/checkout" class="btn btn-default btn-lg get ">Confirm Order</a>
       					     </div>
			</div>
             
		</div>
	</section> <!--/#cart_items-->
	
    {{> scripts }}


</body>
</html>